@import "{{ site.theme }}";
var widthyt = document.getElementById('ytvid').offsetWidth;
iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}
