 ---
 ---

@import "{{ site.theme }}";

iframe {
  width: 100%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #E0E0E0;
    background-color: #333333;
    border-radius: 0.3rem;
}
